body {
  font-size: 20px;
  h2,
  h3,
  h4,
  h5 {
    text-align: center;
  }
  p {
    margin: 0 120px;
    text-align: justify;
  }
  a {
    text-decoration: none;
  }
}

.icon {
  background-image: url('icon.png');
  width: 20px;
  height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkButton {
  margin-top: 10px;
}
.linkButton button {
  /* background: #3498db; */
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 2px 4px #d35400;
  /* box-shadow: 0 4px #2c3e50; */
}

.anchor {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}
.anchor a {
  background: #f39c12;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px #d35400;
}

.video {
  margin-top: 30px;
}
.video video {
  display: block;
  margin: 0 auto;
}

.existingChallenges .challenge img {
  width: 520px;
}

.example .images {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 10px;
}

.example .images .link {
  text-align: center;
}

.example .images img {
  width: 100%;
}
